## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [7]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv('/Users/gimtaeyeong/Desktop/Class 3/World_Weather_Analysis/WeatherPy_vacation.csv')
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Saint-Pierre,RE,66.90,clear sky,-21.3393,55.4781,Alize Plage
1,9,Saint-Philippe,RE,65.79,broken clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
2,10,Bambous Virieux,MU,68.25,light rain,-20.3428,57.7575,Casa Tia Villa
3,11,Wasilla,US,71.53,clear sky,61.5814,-149.4394,Alaska's Select Inn Wasilla
4,13,Rikitea,PF,75.99,clear sky,-23.1203,-134.9692,People ThankYou

In [14]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [10]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Toyooka") & (vacation_df["Hotel Name"] == "O Hotel Toyooka")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Toyooka") & (vacation_df["Hotel Name"] == "O Hotel Toyooka")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Katsuura") & (vacation_df["Hotel Name"] == "Katsuura Hotel Mikazuki")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Shimoda") & (vacation_df["Hotel Name"] == "Shimoda Tokyu Hotel")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Shingu") & (vacation_df["Hotel Name"] == "Shingu UI Hotel")]

In [35]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
200,511,Toyooka,JP,74.84,overcast clouds,35.5333,134.8333,O Hotel Toyooka

In [36]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
51,145,Katsuura,JP,74.48,overcast clouds,35.1333,140.3,Katsuura Hotel Mikazuki

In [37]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
155,386,Shimoda,JP,74.1,overcast clouds,34.6667,138.95,Shimoda Tokyu Hotel

In [38]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
153,384,Shingu,JP,76.15,overcast clouds,33.7333,135.9833,Shingu UI Hotel

In [40]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

start

(35.5333, 134.8333)

In [41]:
stop1

(35.1333, 140.3)

In [42]:
stop2

(35.1333, 140.3)

In [43]:
stop3

(33.7333, 135.9833)

In [44]:
end

(35.5333, 134.8333)

In [49]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end,
        waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3], ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,511,Toyooka,JP,74.84,overcast clouds,35.5333,134.8333,O Hotel Toyooka
1,145,Katsuura,JP,74.48,overcast clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
2,386,Shimoda,JP,74.10,overcast clouds,34.6667,138.9500,Shimoda Tokyu Hotel
3,384,Shingu,JP,76.15,overcast clouds,33.7333,135.9833,Shingu UI Hotel

In [55]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [56]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')


fig.add_layer(marker_layer)
fig.add_layer(vacation_itinerary)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))